<!DOCTYPE html>
<html lang="en">
<head>
    {% block css %}
    {% endblock %}
    {% block title %}<title>Agava</title>{% endblock %}
</head>

<body>
  {% block sidebar %}
  <header>
      <div class="page">
          <nav class="page__menu page__custom-settings menu">
              <ul class="menu__list r-list">
                  <li class="menu__group"><a class="menu__link r-link text-underlined" href="{% url 'mainpage' %}">Home</a></li>
                  <li class="menu__group"><a class="menu__link r-link text-underlined" href="{% url 'doc' %}">doc</a></li>
              </ul>
          </nav>
      </div>
      <ul class="login">
          {% if user.is_authenticated %}
            <li class="boy"><a href="{% url 'account' %}">{{ user.get_username }}</a></li>
            <li class="boy"><a href="{% url 'user_logout' %}">log_out</a></li>
          {% else %}
            <li class="boy"><a href="{% url 'user_login' %}">login</a></li>
          {% endif %}
      </ul>
  </header>
  {% endblock %}
  {% block content %}

  {% endblock %}
</body>
</html>