<!DOCTYPE html>
<html lang="en">
<head>
    {% block css %}
    {% endblock %}
    {% block title %}<title>Agava</title>{% endblock %}
</head>

<body>
  {% block sidebar %}
  <header>
      <div class="header">
          <ul class="list-header">
              <li class="obj-list-header"><a class="link-header" href="{% url 'mainpage' %}">Home</a></li>
              <li class="obj-list-header"><a class="link-header" href="{% url 'doc' %}">doc</a></li>
          </ul>
      </div>
      <div class="login">
          {% if user.is_authenticated %}
            <a href="{% url 'account' %}">{{ user.get_username }}</a>
            <a href="{% url 'user_logout' %}">log_out</a>
          {% else %}
            <a href="{% url 'user_login' %}">login</a>
          {% endif %}
      </div>
  </header>
  {% endblock %}
  {% block content %}

  {% endblock %}
</body>
</html>