{% extends "base.html" %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'mainpage/css/header.css' %}">
{% load static %}
<link rel="stylesheet" href="{% static 'mainpage/css/login_form_style.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <h1>Log-in</h1>
    <p>Please, use the following form to log-in:</p>
    <form class="login-form" action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Log-in"></p>
    </form>
</div>
<a href="{% url 'reg' %}">reg</a>
{% endblock %}