{% extends "base.html" %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'mainpage/css/header.css' %}">
{% load static %}
<link rel="stylesheet" href="{% static 'mainpage/css/login_form_style.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <h1>Log-in</h1>
    <h4>Please, use the following form to log-in:</h4>
    <form class="login-form" action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Log-in"></p>
    </form>
    <a class="reg" href="{% url 'reg' %}">Don't have acc?</a>
</div>
{% endblock %}