{% extends "base.html" %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'mainpage/css/header.css' %}">
{% load static %}
<link rel="stylesheet" href="{% static 'mainpage/css/reg_form_style.css' %}">
{% endblock %}
{% block content %}
<div class="reg">
    <h1 class="reg-title">Create an account</h1>
    <h3 class="reg-text">Please, sign up using the following form:</h3>
    <form class="reg-form" action="." method="post">
        {{ user_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Create my account"></p>
    </form>
</div>
{% endblock %}