{% extends "base.html" %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'mainpage/css/header.css' %}">
{% load static %}
<link rel="stylesheet" href="{% static 'mainpage/css/reg_done.css' %}">
{% endblock %}
{% block content %}
<div class="reg-good">
  <h1 class="title-good">Welcome: <div class="user_name">{{ new_user.first_name }}!</div></h1>
    <p class="text-good">Your account has been successfully created. Now you can <a class="log" href="{% url 'user_login' %}">log in</a>.</p>
</div>
{% endblock %}