{% extends "base_account.html" %}
{% block css %}
<script src="https://d3js.org/d3.v4.js"></script>
{% load static %}
<script src="{% static 'mainpage/js/widgets_v4.js' %}"></script>
{% load static %}
<link rel="stylesheet" href="{% static 'mainpage/css/header.css' %}">
{% load static %}
<link rel="stylesheet" href="{% static 'mainpage/css/dashboard.css' %}">
{% endblock %}
{% block header %}
    <li class="menu__group"><a class="menu__link r-link text-underlined" href="{{ prj.get_absolute_url }}">Back</a></li>
{% endblock %}
{% block content %}
<div class="dashboard_page">
    <form class="create_widget_form" action="" method="post">
        {{ choose_form.as_p }}
        {% csrf_token %}
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Создать виджет" name="create"></p>
    </form>
    <div class="widgets" id="widgets">
        {% for widget in widgets %}
        <script>
            show_widget({{ widget.type }}, {{ values[widget.id] }}, {{ widget.wdth }}, {{ widget.hght }}, '#widgets')
        </script>
        {% endfor %}
    </div>
</div>
{% endblock %}