{% extends "base_account.html" %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'mainpage/css/header.css' %}">
{% endblock %}
{% block header %}
    <li class="menu__group"><a class="menu__link r-link text-underlined" href="{{ prj.get_absolute_url }}">Back</a></li>
{% endblock %}
{% block content %}
<div class="info-device">
    <div class="name_device">{{ device.name_device }}</div>
    <div class="type_device">{{ device.type_device }}</div>
    <table class="table_param">
        <tr>
            <th class="param">Имя</th>
            <th class="param">Тип</th>
            <th class="param">Номер устройства</th>
            <th class="param">Номер функции чтения</th>
            <th class="param">Адрес чтения</th>
            <th class="param">Номер функции записи</th>
            <th class="param">Адрес записи</th>
        </tr>
        {% for param in params %}
        <tr>
            <td class="param">{{ param.name_parameter }}</td>
            <td class="param">{{ param.type_parameter }}</td>
            <td class="param">{{ param.modbus_register.number_device }}</td>
            <td class="param">{{ param.modbus_register.number_function_read }}</td>
            <td class="param">{{ param.modbus_register.address_read }}</td>
            <td class="param">{{ param.modbus_register.number_function_write }}</td>
            <td class="param">{{ param.modbus_register.address_write }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% if device.type_device == "modbus-tcp" %}
<form class="create-modbus-reg-form" method="post" onchange="update()">
        {{ form.as_p }}
        {% csrf_token %}
        {{ form_modbus.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Добавить параметр" name="modbus"></p>
</form>
<form class="del-par-form" method="post">
        {{ form_del.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Удалить" name="del"></p>
</form>
{% endif %}
{% endblock %}