{% extends "base_account.html" %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'mainpage/css/header.css' %}">
{% endblock %}
{% block header %}
    <li class="obj-list-header"><a class="link-header" href="{{ prj_id.get_absolute_url }}">Back</a></li>
{% endblock %}
{% block content %}
<ul>
    {% for device in dvs %}
    <li><a href="device.get_absolute_url" >{{ device.name_device }}</a></li>
    {% endfor %}
</ul>
<form action="." method="post">
        {{ create_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="create" name="create"></p>
</form>
{% endblock %}