{% extends "base_account.html" %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'mainpage/css/header.css' %}">
{% endblock %}
{% block header %}
    <li class="menu__group"><a class="menu__link r-link text-underlined" href="{{ prj.get_absolute_url }}">Back</a></li>
{% endblock %}
{% block content %}
<div class="info-device">
    {{ device.name_device }} , {{ device.type_device }}
    <ul class="list-param">
        {% for param in params %}
        <li class="param">
            {{ param }}
        </li>
        {% endfor %}
    </ul>
</div>
{% if device.type_device == "modbus-tcp" %}
<form class="create-modbus-reg-form" method="post" onchange="update()">
        {{ form.as_p }}
        {% csrf_token %}
        {{ form_modbus.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Добавить параметр" name="modbus"></p>
</form>
<form class="del-par-form" method="post">
        {{ form_del.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Удалить" name="del"></p>
</form>
{% endif %}
{% endblock %}