{% extends "base_account.html" %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'mainpage/css/header.css' %}">
{% endblock %}

{% block header %}
    <li class="menu__group"><a class="menu__link r-link text-underlined" href="{{ prj_id.id }}/admin">Admin</a></li>
    <li class="menu__group"><a class="menu__link r-link text-underlined" href="{{ prj_id.id }}/devices">Devices</a></li>
{% endblock %}

{% block content %}
<script src="https://d3js.org/d3.v4.js"></script>
<div id="chart"></div>
{% load static %}
<script src="{% static 'mainpage/js/widgets_v4.js' %}"></script>
<script>
    date_value_chart("/static/mainpage/csv/test.csv", "#chart", 1000, 400);
</script>
{% endblock %}