.device_page{
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    grid-auto-rows: auto;
}

.create-device-form{
  display: flex;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  border-bottom: 1px solid;
}
.list-div{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  list-style: none;
  text-decoration: none;
}
.device{
  display: block;
  background: #3F51B5;
  text-align: center;
  color: white;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.device:hover{
  background: darkblue;
}
input[type=submit]{
border: 0px;
background: blue;
color: white;
margin-top: 3px;
border-radius: 5px;
font-weight:600;
padding: 5px;
padding-left: 20px;
padding-right: 20px;
}
input[type=submit]:hover{
background: darkblue;
}

.create-device-form select,
.create-device-form input[type=text] {
  margin-right: 10px;
  margin-top: 5px;
}