.doc_selected {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    grid-auto-rows: auto;
}
.list_doc{
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
}
.title_item{
  list-style-type: none;
}
.l{
  padding-left: 0;
  padding-top: 5px;
}
.url-doc  {
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
  background: gray;
}
.url-doc:hover  {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  background: black;
}
