.inline {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}
.doc_selected {
    width: 100%;
    border: 2px #000;
    padding: 5px;
    margin: 0 auto;
    overflow: hidden;
}
.doc_content {
    list-style: none;
    padding: 0;
    width: 70%;
}

.list_doc {
list-style: none;
padding: 0;
width: 25%;
}
.list_doc .title_item {
font-family: "Trebuchet MS", "Lucida Sans";
padding: 7px 20px;
margin-bottom: 10px;
border-radius: 5px;
background: purple;
box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
     -2px -2px 5px 0 rgba(0,0,0,.1),
    2px 2px 5px 0 rgba(0,0,0,.1),
    -2px 2px 5px 0 rgba(0,0,0,.1);
font-size: 20px;
letter-spacing: 2px;
transition: 0.3s all linear;
}
.title_item {
    list-style-type: none;
}
.l {
    padding-left: 0;
}
.url-doc  {
  text-decoration: none;
  color: white;
}