.doc_selected {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    grid-auto-rows: auto;
  }
  .list_doc{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
  }
  .title_item{
    list-style-type: none;
  }
  .l{
    padding-left: 0;
    padding-top: 5px;
  }
  .url-doc  {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    background: gray;
  }
  .url-doc:hover  {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    background: black;
  }
  .target .url-doc{
    background: black;
    color: white;
  }
  .doc_content{
      grid-column-start: 2;
      grid-column-end: 7;
      grid-row-start: 1;
  }
  .target_title{
    box-shadow: -2px -2px 5px 0 rgba(0,0,0,.1),
      2px 2px 5px 0 rgba(0,0,0,.1),
      -2px 2px 5px 0 rgba(0,0,0,.1);
    text-align: center;
    background: skyblue;
  }
  .target_content{
    overflow-wrap: break-word;
  }