.project_page{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  grid-auto-rows: auto;
}
.hist_and_event{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  grid-auto-rows: auto;
}
.history{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  list-style: none;
}
.events{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  list-style: none;
}